body {
    background-color: #171835;
}

h1 {
    color: white;
}

p {
    color: #ffffff81;
}

ul {
    color: white;
}

footer p {
    color: white;
}

.p1 {
    color: #ffffff81;
}

span {
    color: #3d3e5c;
}